<nav class="container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Каталог</a></li>
    <li class="breadcrumb-item"><a href="#">Мебель из искусственного ротанга</a></li>
    <li class="breadcrumb-item"><a href="#">ANTIBES</a></li>
    <li class="breadcrumb-item active" aria-current="page">ANTIBEES Кофейный стол</li>
  </ol>
</nav>
