main.col-lg-9
  .row
    .col-md-6
      .row
        .slider-for
          .item
            a(href="assets/img/2/1.jpg" class='mt-3 mt-lg-0' data-lightbox="image-1" data-title="ANTIBES кофейный стол")
              img(src='assets/img/2/2.jpg' class='mt-3 mt-lg-0')
          .item
            a(href="assets/img/2/1.jpg" class='mt-3 mt-lg-0' data-lightbox="image-1" data-title="ANTIBES кофейный стол")
              img(src='assets/img/2/3.jpg' class='mt-3 mt-lg-0')
          .item
            a(href="assets/img/2/1.jpg" class='mt-3 mt-lg-0' data-lightbox="image-1" data-title="ANTIBES кофейный стол")
              img(src='assets/img/2/4.jpg' class='mt-3 mt-lg-0')
          .item
            a(href="assets/img/2/5.jpg" class='mt-3 mt-lg-0' data-lightbox="image-1" data-title="ANTIBES кофейный стол")
              img(src='assets/img/2/5.jpg' class='mt-3 mt-lg-0')
      .row
        .col-1.d-flex
          button.slick-prev
        .col-10
          .slider
            .slide
              img(src="assets/img/2/2.jpg")
            .slide
              img(src="assets/img/2/3.jpg")
            .slide
              img(src="assets/img/2/4.jpg")
            .slide
              img(src="assets/img/2/5.jpg")
        .col-1.d-flex
          button.slick-next
    .col-md-6.d-flex.flex-column.product-single
      h2 ANTIBES кофейный стол
      .price
        s 28 900 <i class="fal fa-ruble-sign"></i>
        span &nbsp; 21 742 <i class="fal fa-ruble-sign"></i>
      p.description
        | Стол ANTIBES, цвет натуральный, искусственный ротанг на алюминиевом каркасе, столешница - тик, размеры: 120x46x34 см
      p.meta
        span Артикул: 15823
        span.ml-3 Бренд:
          a(href="javascript:void(0)") JOYGARDEN
      .form-cart
        .range-input
          button.minus.form-control#theButton2 -
          input(type="number" class="form-control" id="number-counter" name="number-counter" value="0" min="0" max="100")
          button.plus.form-control#theButton +
        button.buy-button.btn.btn-success В корзину
        button.buy-button.btn.btn-primary Купить
      h4 Доставка и оплата
      ul
        li
          b от 20 000 ₽
          |
          | &nbsp;
          | в пределах МКАД —
          b БЕСПЛАТНАЯ!
        li
          b до 20 000 ₽ &nbsp;
          | в пределах МКАД —
          b 500 ₽
        li Выезд за МКАД — 45 ₽/км.
        li Доставка по Росии - &nbsp;
          b договорная
        li Есть самовывоз товара с нашего склада.
      a(href="javascript:void(0)") Подробнее о доставке и оплате

