.container.topheader
  .row
    article.col-md-3.col-6
      img(src="assets/img/about/1.png")
      h5 Бонусы за покупки
    article.col-md-3.col-6
      img(src="assets/img/about/2.png")
      h5 Весь товар сертифицирован
    article.col-md-3.col-6
      img(src="assets/img/about/3.png")
      h5 Возврат и обмен товара
    article.col-md-3.col-6
      img(src="assets/img/about/4.png")
      h5 Удобная и быстрая доставка
