doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='assets/style.css')
include inc/header.pug
include inc/breadcrumb.pug

  main#deliver
    .content.container
      h4 Оплата товара
      p.text-center Для Вашего удобства мы предлагаем наличную и безналичную форму оплаты. Вы всегда можете воспользоваться одним из перечисленных способов на свое усмотрение.
      .images
        - var n = 1;
        while n <= 8
          img(src="assets/img/" + n + '.png')
          - n++

      h4 Оплата банковскими картами
      p * Безопасность платежей.
      p 
        |** Оплата по картам происходит через авторизационный сервер Процессингового центра 
        | Банка с использованием Банковских кредитных карт. Для оплаты покупки Вы 
        | будете перенаправлены на платежный шлюз ОАО «Сбербанк России» для ввода 
        | реквизитов Вашей карты. Пожалуйста, приготовьте Вашу пластиковую карту заранее. 
        | Соединение с платежным шлюзом и передача информации осуществляется в 
        | защищенном режиме с использованием протокола шифрования SSL. В случае 
        | если Ваш банк поддерживает технологию безопасного проведения интернет-платежей 
        | Verified By Visa или MasterCard Secure Code для проведения платежа также может 
        | потребоваться ввод специального пароля. Способы и возможность получения паролей
        |  для совершения интернет-платежей Вы можете уточнить в банке, выпустившем карту.
      p
        | Настоящий сайт поддерживает 128-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ОАО «Сбербанк России». Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.
      p
        | *** Перед оплатой уточните, пожалуйста, наличие товара у менеджеров по телефону
      hr
      h4 Стоимость доставки по Москве и области
      ul
        <li>При сумме заказа более 20 000 рублей доставка по Москве в пределах МКАД — БЕСПЛАТНАЯ!</li>
        <li>При сумме заказа менее 20 000 рублей доставка по Москве в пределах МКАД — 500 рублей.</li>
        <li>Доставка банкетных столов по Москве — 1000 рублей.</li>
        <li>Выезд за МКАД — 45 рублей каждый километр от кольцевой дороги в сторону области до места назначения.</li>
        <li>Для Вашего удобства возможен самовывоз товара с нашего склада.</li>
        <li>Для регионов оплата товара возможна по факту получения**</li>
      p Мы доставляем товар до подъезда, дома или коттеджа исключительно при наличии подъездных путей, предназначенных для проезда грузовых автомобилей. Подъем, занос и сборка мебели в загородном доме, коттедже или таунхаусе, осуществляется на договорной основе.
      img(src="assets/img/russia.jpg" class="russia")
      h4 Отправка в регионы России, Белоруссии и Казахстана
      h4 Мы сотрудничаем со всеми транспортными компаниям в России
      p Внимание! * Отправка в регионы России и стоимость самой перевозки грузов ( любой транспортной компанией) производится по собственным тарифам экспедитора и к нашей службе доставки не имеет никакого отношения. Все цены на первозку озвученные менеджером нашей компании являются ориентировочными ( расчитанными по калькулятору на официальном сайте компании перевозчика). Точная сумма формирируется автоматически только после сдачи груза для перевозки и зависит от ряда факторов. Мы с большим удовольствием (бесплатно) и оперативно доставим приобретенный вами товар до любого терминала указанной компании-экспедитора в г. Москве. Если вы не знаете какой компанией воспользоваться, то груз будет отправлен на наше усмотрение опираясь на многолетний опыт и знание данной области.
      p ** Для регионов оплата товара возможна по факту получения! При условии отправки через транспортную компанию ПЭК либо через нашу службу доставки. Подробности у наших менеджеров.
      p *** Право собственности, а также все риски (согласно ГК РФ) переходят к покупателю в момент сдачи товара выбранному перевозчику ( транспортной компании)
      p ****Уважаемые покупатели! Обращаем Ваше внимание, что при Вашем отказе от заказа в момент передачи товара, согласно п.3 ст. 497 Гражданского кодекса РФ, стоимость доставки оплачивается в полном объеме в любом случае
      p Любые дополнительные сервисы (подъем на этаж, сборка, вынос мусора) не входят в стоимость доставки, имеют отдельную тарификацию и оплачиваются отдельно.

include inc/footer.pug
