doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='assets/style.css')
include inc/header.pug
include inc/breadcrumb.pug

.container
  h2 Гарантированное качество
  .text-wrapper
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Безусловное качество</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">100% гарантия подлинности</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Гарантия низкой цены</a>
      </li>      
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="exp-tab" data-toggle="tab" href="#exp" role="tab" aria-controls="exp" aria-selected="false">Опыт работы</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        p 
          i.fal.fa-globe-europe 
          | Мы работаем только с ведущими мировыми производителями и брендами, качество мебели которых проверено годами и подтверждено необходимыми сертификатами. Наша команда ежемесячно отбирает сотни новинок для того, чтобы представить вам только лучшие товары! Мы угадываем ваши желания. Любой товар, попадающий в каталог, тщательно проверяется на соответствие стандартам качества. Но самое главное — мы понимаем, что качественная, красивая и удобная садовая мебель для дачи или ресторана — это, прежде всего, залог хорошего комфортного отдыха и отличного летнего настроения!
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        p 
          <i class="fal fa-award"></i>
          | Компания PARKMEBEL является официальным представителем всех торговых марок, размещенных на сайте. Таким образом, все закупки ведутся напрямую от производителя, что полностью исключает возможность продажи контрафактной или некачественной продукции и позволяет нам утверждать о 100% гарантии подлинности товаров и действительности всех гарантийных обязательств завода производителя.
      </div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
        p 
          <i class="fal fa-balance-scale-right"></i>
          | Наша компания стремится предлагать клиентам товары по минимальным ценам. Мы напрямую сотрудничаем с ведущими поставщиками садовой мебели и мебели для кафе и ресторанов. Объемы и многовариантность решений позволяет предложить Вам гибкую систему скидок. Часто мы проводим акции и распродажи, предлагая нашим покупателям эксклюзивные новинки и подарки.
      </div>
      <div class="tab-pane fade" id="exp" role="tabpanel" aria-labelledby="exp-tab">
        p 
          <i class="fal fa-user-graduate"></i>
          | Наша компания занимается профессиональной продажей садовой мебели для загородных домов и летних кафе, а также сопутствующими товарами с 2010 года. В октябре 2013 года мы вышли на рынок интернет-коммерции, запустив один из лучших и надежных интернет-магазинов www.parkmebel.com. Данный проект позволил нам расширить географию продаж и стать полезными для покупателей, проживающих на всей территории России и странах СНГ. В настоящее время наш интернет-магазин успешно исполнил более 5000 заказов своих клиентов, проживающих более чем в 70 городах России и получил колоссальный опыт исполнения заказов различной степени сложности.
      </div>
    </div>
  hr
  .text-wrapper
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab1" data-toggle="tab" href="#home1" role="tab" aria-controls="home1" aria-selected="true">Законность деятельности</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab1" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile1" aria-selected="false">Индивидуальный подход</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab1" data-toggle="tab" href="#contact1" role="tab" aria-controls="contact1" aria-selected="false">Профессиональные консультации</a>
      </li>      
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="exp-tab1" data-toggle="tab" href="#exp1" role="tab" aria-controls="exp1" aria-selected="false">Условия и порядок возварата товара</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home1" role="tabpanel" aria-labelledby="home-tab1">
        p 
          <i class="fal fa-shield-alt"></i>
          | Коммерческую деятельность посредством интернет-магазина parkmebel.com, ведет зарегистрированная в соответствии с требованиями законодательства РФ компания. Деятельность юридического лица во многом предопределяется законами и предполагает ведение соответствующего документооборота, сдачу отчетности, особый порядок регистрации расчетного счета в банке и взаимодействия с другими лицами. Поэтому, делая покупку в нашем интернет-магазине, вы можете быть уверены, что сделка совершается с соблюдением всех предъявляемых законом требований, а вместе с товаром вам будет передан надлежащим образом оформленный комплект документов.
      </div>
      <div class="tab-pane fade" id="profile1" role="tabpanel" aria-labelledby="profile-tab1">
        p 
          <i class="fal fa-chair"></i>
          | К каждому нашему клиенту. Мы дорожим вами и гарантированно подберем именно то, что Вы ищете. В нашем арсенале более 15 ведущих брендов Швеции, Дании, Америки, Германии и Китая. Вы всегда можете сделать заказ в любое удобное для Вас время. Мы работаем, чтобы приносить радость и удовлетворение всем нашим клиентам. Мы постоянно работаем над сервисом от первого звонка до получения вами заказа и постоянно совершенствуем его опираясь на ваши пожелания.
      </div>
      <div class="tab-pane fade" id="contact1" role="tabpanel" aria-labelledby="contact-tab1">
        p 
          <i class="fal fa-certificate"></i>
          | Наши специалисты с многолетним опытом работы в области продаж садовой мебели и мебели для кафе и ресторанов помогут найти решение любой стоящей перед Вами задачи: определиться с выбором, с дизайн-проектом и расстановкой, а также доставкой Вашего заказа в любую точку России.
      </div>
      <div class="tab-pane fade" id="exp1" role="tabpanel" aria-labelledby="exp-tab1">
        p 
          <i class="fal fa-handshake"></i>
          | Покупатель вправе отказаться от сделанного им заказа в интернет-магазине «ПаркМебели» до момента согласования с Покупателем по телефону адреса и срока доставки заказа. Для отмены заказа Покупатель должен связаться с Оператором по телефону +7 (925) 227-44-37 или отправить письмо на электронную почту 2274437@gmail.com отдела продаж с просьбой отменить ранее сделанный в интернет-магазине заказ. <br>Покупатель также вправе осуществить возврат приобретенного ранее и доставленного ему товара по основаниям и в сроки, установленные в законе «О защите прав потребителей». Для оформления возврата товара Покупатель должен в установленные законом сроки обратиться в отдел продаж Оператора с письменным заявлением о возврате товара с указанием причин возврата. Заявление на возврат Покупатель также может отправить Оператору по электронной почте. <br> Оператор рассматривает заявление в течение семи рабочих дней и уведомляет Покупателя о результатах рассмотрения заявления по телефону или по адресу электронной почты Покупателя, указанному при регистрации на сайте. В случае принятия положительного решения о возврате Покупатель должен лично, либо через своего представителя, либо через транспортную компанию доставить возвращаемый товар на склад Оператора, по адресу, указанному Оператором. Возврат денежных средств производится в сумме оплаченного ранее Покупателем заказа за исключением стоимости доставки заказа. При этом возврат денежных средств производится тем же способом, которым заказ был оплачен, если иное не согласовано с покупателем.
      </div>
    </div>
include inc/footer.pug
